<html>
    <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
             $(document). ready(function (){
                // this triggers the connection event in our server!
                var socket  = io.connect();
                // we'll write all the socket stuff after the above line!

                //handle a button click
                $('#epic').click(function (){
                    socket.emit( "epic_click", {reason:  "The EPIC click button was clicked"});
                });
                $('#reset').click(function (){
                    socket.emit( "reset_click", {reason:  "The RESET click button was clicked"});
                });
                
                //end emits, listen for server response.
                //socket.on( 'send_count', function (data){console.log( 'The server says: '  + data.response);
                socket.on( 'send_count', function (data){
                $("#response").html(`The button has been pushed ${data.response} times`);
                });

                socket.on( 'server_form_response', function (data){
                    $("#response").html(`You emmitted this info to the server ${JSON.stringify(data.response)}`);
                });
                socket.on( 'random_number', function (data){
                    $("#response").append(`<h4>Your lucky number emmitted by the server is ${data.response}</h4>`);
                });


            })
        </script>
    </head>
    <body>
       
        <div id='response'>The button has been pushed 0 times</div>
        <button id = 'epic'>EPIC</button>
        <button id = 'reset'>RESET</button>
        <!-- <button>I AM A BUTTON!</button> -->
        <!-- web page goes here -->
    </body>
    </html>
    